<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <!-- Write EJS code here to display shortened links -->
	<% include ../views/partials/_header %>

  
  <ul class="body">
		<% for(var url in urls) { %>
    <li class="bodyLI">
	    <form method="POST" action="/urls/<%= url %>/delete">
	    	<a href='<%= urls[url.longURL] %>' style="font-size: 40px;">  <%= url %> </a> --> <%= urls[url] %> <%=  urls[url].url %>, created by: <%= urls[url].email %> 
        <a href="/urls/<%= url %>"> Edit </a>
  	    <button type="submit" style="width: 100px; background: cyan;">Delete</button></li>
	    </form>
    </li>
    <% } %>
  </ul>
</body>
</html>